aside.logo {
    background-color: var(--bg-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
}

aside.logo > a {
    height: 100%;
}

aside.logo img {
    padding: 0px 15px;
    height: 100%;
}

@media(max-width: 600px) {
    aside.logo {
      display: none;
    }
  }